!!! 5
%html
  %head
    %script{ :type => 'text/javascript', :src => '/js/modernizr.min.js' }
  %body
    %script{ :type => 'text/javascript', :src => '/js/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/js/foundation.min.js' }
